/* Using the downloaded font Consolas using the @font-face rule within the css file
Then apply the font to the desired elements using the font-family property */
@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Using the downloaded font BebasNeue using the @font-face rule within the css file
Then apply the font to the desired elements using the font-family property */
@font-face {
    font-family: 'BebasNeue';
    src: url('../font/BebasNeue.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../font/Inter_18pt-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('../font/Inter_18pt-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*Custom CSS Variables*/
:root {
    --primary-font: 'BebasNeue', sans-serif;
    --secondary-font: 'Consolas', monospace, sans-serif;
    --third-font: 'Inter-Regular', 'sans-serif';
    --fourth-font: 'Inter-Bold', 'sans-serif';
    --black-color: #000;
    --white-color: white;
    --netflix-red: #E50914;
    --second-background-shadow: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    --second-background-color: linear-gradient(180deg, black, var(--netflix-red), black);
    --third-background-color: linear-gradient(to right, var(--netflix-red), var(--white-color), var(--netflix-red));
    --background-shadow: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    --box-background-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;

}

* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

.top-container {
    width: 100%;
    height: 100vh; /* vh is a relative length unit,
    meaning its size is calculated in relation to the viewport's height (the visible area of the browser window).
    Therefore, 100vh equals 100% of the viewport's height. */
    position: relative; /* need to set the position to relative to have have a shadow overlayed on top of the background image. */
    
    /* linear-gradient(to bottom, transparent, #000) allow a overlayed of the black color at the bottom of the background image 
    allowing the background image to appear to be fading out. */
    background-image: linear-gradient(to bottom, transparent,#000), url('../images/background-image.png');
    background-repeat: no-repeat center center/cover;
    box-shadow: var(--box-background-shadow);
}
.top-container::after { /*The CSS: :before pseudo-element inserts some content before the content of the specified element. */
    content: ""; /* Necessary for pseudo-elements ::before and ::after */
    position: absolute; /* set the position to absolute to allow the the background shadow to be overlayed on top of the background image. */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: var(--background-shadow);
    
}
.mid-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: var(--second-background-color);
    padding: 50px 10% 0px;
    font-family: var(--fourth-font);
}

.mid-container::after {
    content: ""; /* Necessary for pseudo-elements ::before and ::after */
    position: absolute; /* set the position to absolute to allow the the background shadow to be overlayed on top of the background image. */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: var(--second-background-shadow);
}

a { 
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.top-container .navbar {
    position: relative;
    width: 100%;
    background: transparent;
    padding: 20px 150px 30px;
    z-index: 2;

}
.top-container .navbar .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-container .navbar .logo {
    width:  128px;
    height: 40px;
}
.top-container .navbar .menu-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.top-container .navbar .language-selector {
    position: relative;
}

.top-container .navbar .language-selector-button {
    /* Style your button */
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--white-color);
    background: rgba(0,0,0,0.5);
    
}
.top-container .navbar .language-selector-button .translate-icon {
    width: 16px;
    height: 14px;
    margin-right: 5px;
}
.top-container .navbar .language-selector-button .language-dropdown-icon {
    width: 14px;
    height: 12px;
    margin-left: 5px;
}

.top-container .navbar .language-dropdown {
    position: absolute;
    top: 100%;
    left:0;
    right: 0;
    display: none;
    /* Initially hidden */
    /* Style your dropdown list */
}
.top-container .navbar .language-dropdown ul {
    border-radius: 5px;
}

.top-container .navbar .language-dropdown li {
    /* Style list items */
    padding: 5px 5px 0px 5px;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ccc; /* Light gray border line */
}

.top-container .navbar .language-dropdown a {
    /* Style links */
    font-size: 18px;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--white-color);
    
}

.top-container .navbar .language-dropdown img {
    /* Style flag images */
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.top-container .header {
    position: relative;
    padding-top: 100px;
}

.top-container .header .header-heading {
    position: relative;
    z-index: 2;
    padding: 10px 30%;
}
.top-container .header .header-subtext {
    position: relative;
    z-index: 2;
    padding: 10px 30% 30px;
}
.top-container .header .header-input-button {
    position: relative;
    z-index: 2;
    padding: 10px 30%;
    display: flex;
    
   
    
}

.top-container .header .header-input-button .field-holder {
    position: relative;
    padding-right: 10px;

}
.top-container .header .header-input-button .field-holder input {
    border: 1px solid #dfdfdf;
    outline: none;
    border-radius: 5px;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--white-color);
    text-align: start;
}

.top-container .header .header-input-button .field-holder input:focus + label, .header .header-input-button .field-holder input:valid + label {
    font-size: .75em;
    top: -15px;
    pointer-events: none;
}


.top-container .header .header-input-button .field-holder label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: var(--white-color);
    cursor: text;  
    

}

.top-container .header .field-holder label, .top-container .header .field-holder input {
    font-size: 1.2rem;
    font-family: var(--third-font);
    letter-spacing: 1px;
    padding-top: 5px;
    height: 60px;
    width: 26rem;
    padding-left: 20px;
    
}

.top-container .header .btn {
    align-self:center;
    font-size: 1.5rem;
    padding: 18px 20px;
}
.mid-container .box-1 {
    display: flex;
    align-items: center; 
    transition: 0.3s;
    
}

.mid-container .box-1:hover {
    transform: scale(1.08); /* Scales up elements */
    position: relative;
    z-index: 2;
}

.mid-container .price-box {
    width: 90%;
    padding: 20px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: var(--third-background-color);
    
}


.mid-container .box-1 .lilpop-image{
    padding-right: 20px;
    width: 120px;
    height: 100px;
    
}
.mid-container .box-1 .lilpop-image:hover {
}

.mid-container .price-box .price-box-text .price-box-text-heading {
    
}    

.mid-container .price-box .price-box-text .price-box-text-subtext{
    margin-top: 10px;
    
}
.mid-container .price-box .btn {
    padding: 18px;

}

/* Button Styles Classes */
.btn {
    border-radius: 5px;
    font-size: 1.1rem;
    color: var(--white-color);
    font-family: var(--fourth-font);
    text-decoration: none;
    text-align: center;
    line-height: 1.0;
    padding: 6px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-red {
    background: var(--netflix-red);
    position: relative;
    z-index: 2;
}

/* Text Styles Classes */
.text-xxl {
    color: var(--white-color);
    font-size: 4.0rem;
    letter-spacing: 5px;
    line-height: normal;
    text-shadow: 2px 2px 4px #000000; /* Allows the text to have a black shadow underneath it */
}

.text-lg {
    color: var(--white-color);
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px #000000; /* Allows the text to have a black shadow underneath it */
    
}

.text-md {
    font-size: 1.2rem;
    color: var(--white-color);
    position: relative;
    z-index: 2;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000; /* Allows the text to have a black shadow underneath it */
}

.text-sm {
    font-size: 1rem;
    color: var(--white-color);
    position: relative;
    z-index: 2;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000; /* Allows the text to have a black shadow underneath it */
}

.text-center {
    text-align: center;
}